In [70]:
import pandas as pd

## Question 1

In [198]:
facebookID = [1,2,3,4]
actionID = [1001, 981, 734, 985]
t = ['Post', 'Comment', 'Photo', 'Share']
referredID = [345, 1001, 234, 1001]
df = pd.DataFrame({'facebookID': facebookID, 'actionID': actionID , 'type':t ,'referredID' :referredID})

In [199]:
df.head()

   facebookID  actionID     type  referredID
0           1      1001     Post         345
1           2       981  Comment        1001
2           3       734    Photo         234
3           4       985    Share        1001

In [200]:
for i in range(0, len(df)):
    aID = df.iloc[i]['actionID']
    if df.iloc[i]['type'] != 'Comment':
        count = 0
        refer = [rID == aID for rID in referredID]
        for index, value in enumerate(refer):
            if value == True and df.iloc[index]['type'] != 'Comment':
                count = count + 1
        dict_comment[aID] = count
    else:
        continue

In [204]:
s = pd.Series(dict_comment)
grouped_comment = s.groupby(s.values).count()
ans = grouped_comment.to_frame().reset_index()
ans.columns = ['# comments', '# stories']
ans

   # comments  # stories
0           0          2
1           1          1

## Question 2

In [205]:
timestamp = ['2011-12-31 20:30:52', '2011-12-30 20:56:56', '2011-12-29 21:36:57', '2011-12-30 20:30:52']
user_id = [678, 890, 567, 678]
equipment = ['mobile', 'desktop', 'mobile', 'mobile']

df = pd.DataFrame({ 'timestamp': timestamp, 'user_id' : user_id, 'equipment': equipment})

In [206]:
df.head()

             timestamp  user_id equipment
0  2011-12-31 20:30:52      678    mobile
1  2011-12-30 20:56:56      890   desktop
2  2011-12-29 21:36:57      567    mobile
3  2011-12-30 20:30:52      678    mobile

In [207]:
from datetime import datetime

day_of_week = list(map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").weekday(), df['timestamp']))
df['day_of_week'] = day_of_week
df = df[df['equipment'] == 'mobile']

In [208]:
grouped_df = df.groupby('user_id')['day_of_week'].agg(['nunique'])
grouped_df[grouped_df['nunique'] == 7]

Empty DataFrame
Columns: [nunique]
Index: []